---
layout: layout
---

= partial 'partials/top', locals: { v: "m" }
= partial 'partials/intro'
= partial 'partials/house', locals: { v: "m" }
= partial 'partials/prices'

= partial 'partials/rooms', locals: { v: "m" }

= partial 'partials/contact_form'
= partial 'partials/address'
